IPHONEOS_DEPLOYMENT_TARGET = 27.0
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
SUPPORTS_MACCATALYST = NO
CODE_SIGN_STYLE = Automatic
UTTER_BUNDLE_PREFIX = com.ichendev.utter.ios
UTTER_APP_GROUP = group.com.ichendev.utter.ios
UTTER_DEVELOPMENT_TEAM =
DEVELOPMENT_TEAM = $(UTTER_DEVELOPMENT_TEAM)
CODE_SIGN_ENTITLEMENTS = Configuration/Shared.entitlements
GENERATE_INFOPLIST_FILE = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
#include? "../Development.local.xcconfig"
